
{% import 'Main/_form_macros.twig' as form %}

<form action="#" class="form-horizontal">
    <div class="form-group">
        {{ form.day('day', null, 'required') }}
    </div>
    <div class="form-group">
        {{ form.money('real', t('real-amount'), null, 'required') }}
    </div>
</form>
