<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				{{ title }}
				<a href="#" id="{{ link }}" class="btn btn-default btn-xs pull-right">
					<i class="glyphicon glyphicon-plus"></i>
					{{ t(link) }}
				</a>
			</div>
			{{ include('Main/_results.twig', { entries: entrances, sums: sums }) }}
		</div>
	</div>
</div>
