
<div id="commit_form" class="ui form">
	<div class="form">
		<input type="hidden" name="_METHOD" value="PUT" />
		<input type="hidden" name="commit[id]" />
		<input type="hidden" name="commit[status]" value="2" />
		<div class="field">
			<label for="form-remove-entrance-day">{{ t('day') }}</label>
			<input type="number" name="commit[day]" id="form-remove-entrance-day" required="required" min="1" max="31" />
		</div>

		<div class="field">
			<label for="commit_entrance_real">{{ t('real-amount') }}</label>
			<div class="ui labeled input">
				<div class="ui label">{{ t('currency-prefix') }}</div>
				<input type="number" name="commit[real]" id="commit_entrance_real" required="required" step="any" nim="0" />
			</div>
		</div>
	</div>
</div>
