
<div id="commit_form" class="ui form">
	<form action="">
		<input type="hidden" name="_method" value="put" />
		<input type="hidden" name="commit[id]" />
		<div class="field">
			<label for="form-remove-entrance-day">{{ t('day') }}</label>
			<input type="number" name="commit[day]" id="form-remove-entrance-day" required="required" min="1" max="31" />
		</div>
		<div class="field">
			<label for="commit_entrance_real">{{ t('real-amount') }}</label>
			<input type="number" name="commit[real]" id="commit_entrance_real" required="required" step="any" nim="0" />
		</div>
	</form>
</div>
