{% extends 'App/login.twig' %}

{% block content %}

<div class="main-login">
	<h1 class="ui dividing header">Entre no sistema</h1>

	<div class="ui message error">Usuário ou senha inválidos</div>

	<form action="/" class="ui form">
		<div class="field">
			<label for="user">Usuário</label>
			<div class="ui icon input">
				<input type="text">
				<i class="user icon"></i>
			</div>
		</div>
		<div class="required field">
			<label>Senha</label>
			<div class="ui icon input">
				<input type="password">
				<i class="lock icon"></i>
			</div>
		</div>
		<button type="submit" class="ui primary button">Entrar</button>
	</form>
</div>

{% endblock %}