<!DOCTYPE html>
{% set current_data_title %}{% block current_data_title %}{% endblock %}{% endset %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ current_data_title }} - {{ t('title') }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="/public/components/semantic-ui/dist/semantic.min.css" />
{% block header %}{% endblock %}

</head>
<body>

<div class="ui celled middle aligned equal height grid app-header">
	<div class="two wide column">{% block previous_button %}{% endblock %}</div>
	<div class="twelve wide center aligned column">
		<h1 class="ui large header">
			{{ t('title') }}
			&dash;
			{{ current_data_title }}
		</h1>
		<div class="ui buttons">
			<a href="/import" class="ui icon tiny button action-import"><i class="icon repeat"></i></a>
			<a href="/logout" class="ui icon tiny button"><i class="icon sign out"></i></a>
		</div>
	</div>
	<div class="two wide column right aligned">{% block next_button %}{% endblock %}</div>
</div>

<br class="ui divider hidden clear" />

<div class="container">
	{% block messages %}{% endblock %}

	{% block statistics %}{% endblock %}

	{% block entrance %}{% endblock %}

	<div class="ui divider"></div>
	
	{% block out %}{% endblock %}
</div>

{% block footer %}{% endblock %}

</body>
</html>