<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ t('title') }} - {{ t('login-in-system') }}</title>
	<link rel="stylesheet" href="/public/components/semantic-ui/dist/semantic.min.css" />
	<link rel="stylesheet" href="/public/login.css" />
</head>
<body>

{% block content %}{% endblock %}

</body>
</html>