<!DOCTYPE html>
{% set current_data_title %}{% block current_data_title %}{% endblock %}{% endset %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ current_data_title }} - {{ t('title') }}</title>
	<link rel="stylesheet" href="/public/components/semantic-ui/dist/semantic.min.css" />
	<link rel="stylesheet" href="/public/main.css" />

</head>
<body>

<div class="ui celled middle aligned equal height grid app-header">
	<div class="two wide column">{% block previous_button %}{% endblock %}</div>
	<div class="twelve wide column"><h1 class="ui center aligned large header">{{ t('title') }} &dash; {{ current_data_title }}</h1></div>
	<div class="two wide column right aligned">{% block next_button %}{% endblock %}</div>
</div>

<br class="ui divider hidden clear" />

<div class="container">
	{% block entrance %}{% endblock %}

	<div class="ui divider"></div>
	
	{% block out %}{% endblock %}
</div>

{% block footer %}{% endblock %}

</body>
</html>